/* ----- VARIABLES---- */
.home {
  background: #d0d0d0;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat; }
  .home__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 5s; }
    .home__slide.fadeIn {
      opacity: 1; }
    .home__slide-01 {
      background-image: url("../assets/images/home/mainpage02.jpg"); }
    .home__slide-02 {
      background-image: url("../assets/images/home/mainpage03.jpg"); }
    .home__slide-03 {
      background-image: url("../assets/images/home/mainpage04.jpg"); }
    .home__slide-04 {
      background-image: url("../assets/images/home/kenny003.jpg"); }
    .home__slide-05 {
      background-image: url("../assets/images/home/kenny004.jpg"); }
    .home__slide-06 {
      background-image: url("../assets/images/home/kenny005.jpg"); }
  .home__name {
    color: white;
    font-size: 33px; }
    @media (min-width: 768px) {
      .home__name {
        font-size: 54px;
        height: 100px;
        line-height: 100px;
        opacity: 1;
        -moz-transition: all 0.4s ease-in;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in; } }
    @media (min-width: 1024px) {
      .home__name {
        font-size: 76px; } }
    .home__name span {
      padding-left: 35px; }
    .home__name.fade {
      opacity: 0; }
  .home__icons {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 19.5%;
    width: 420px;
    height: 100px;
    padding-left: 20px; }
    @media (min-width: 1024px) {
      .home__icons {
        left: 27.5%; } }
    .home__icons span {
      display: block;
      float: left;
      font-size: 2em;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      margin: 0 0 0 -20px;
      color: rgba(225, 225, 225, 0.95);
      opacity: 0;
      visibility: hidden;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .home__icons span a {
        color: rgba(225, 225, 225, 0.95); }
    .home__icons span:nth-child(odd) {
      background: rgba(0, 0, 0, 0.8); }
    .home__icons span:nth-child(even) {
      background: rgba(50, 50, 50, 0.8); }
    .home__icons span:nth-child(1) {
      -moz-transform: translate(200%) translate(-40px);
      -webkit-transform: translate(200%) translate(-40px);
      transform: translate(200%) translate(-40px); }
    .home__icons span:nth-child(2) {
      -moz-transform: translate(100%) translate(-20px);
      -webkit-transform: translate(100%) translate(-20px);
      transform: translate(100%) translate(-20px); }
    .home__icons span:nth-child(4) {
      -moz-transform: translate(-100%) translate(20px);
      -webkit-transform: translate(-100%) translate(20px);
      transform: translate(-100%) translate(20px); }
    .home__icons span:nth-child(5) {
      -moz-transform: translate(-200%) translate(40px);
      -webkit-transform: translate(-200%) translate(40px);
      transform: translate(-200%) translate(40px); }
    .home__icons span.last {
      opacity: 1;
      visibility: visible;
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      top: 0;
      left: 50%;
      margin-left: -50px;
      z-index: 9;
      -moz-transform: scale(0.28);
      -webkit-transform: scale(0.28);
      transform: scale(0.28); }
    .home__icons span.last i {
      font-size: 90px;
      color: #777; }
    .home__icons span.last:hover {
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1); }
    .home__icons span.opened-icons {
      -moz-transform: translate(0%);
      -webkit-transform: translate(0%);
      transform: translate(0%);
      opacity: 1;
      visibility: visible; }
    .home__icons span.opened-icons.last {
      opacity: 0;
      visibility: hidden;
      -moz-transform: scale(1.4);
      -webkit-transform: scale(1.4);
      transform: scale(1.4); }
    .home__icons-close {
      position: absolute;
      right: -15px;
      top: 0;
      font-size: 20px;
      opacity: 0;
      cursor: pointer;
      visibility: hidden;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    .home__icons-close.opened-icons {
      opacity: 1;
      visibility: visible; }
