/* ----- VARIABLES---- */
.photos {
  background: #2a2e39;
  color: #dbdbdb; }
  .photos .intro {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    overflow: hidden;
    width: inherit;
    height: 100%;
    background: #2a2e39;
    -moz-transition: transform 0.6s;
    -webkit-transition: transform 0.6s;
    transition: transform 0.6s;
    -moz-transition-timing-funtion: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-timing-funtion: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-funtion: cubic-bezier(0.7, 0, 0.3, 1); }
  .photos__container--open .intro {
    -moz-transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
    -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
    transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0); }
  .photos .intro__image {
    display: none;
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 120%;
    width: auto;
    height: auto;
    opacity: 0.8;
    background-size: cover;
    background-position: center top;
    -moz-transition: transform 0.6s, opacity 0.6s;
    -webkit-transition: transform 0.6s, opacity 0.6s;
    transition: transform 0.6s, opacity 0.6s;
    -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
    .photos .intro__image.leftmost {
      left: 0; }
      @media (min-width: 768px) {
        .photos .intro__image.leftmost {
          left: 0; } }
      @media (min-width: 1024px) {
        .photos .intro__image.leftmost {
          left: 0; } }
    .photos .intro__image.leftish {
      left: -80%; }
      @media (min-width: 768px) {
        .photos .intro__image.leftish {
          left: -20%; } }
      @media (min-width: 1024px) {
        .photos .intro__image.leftish {
          left: -10%; } }
    .photos .intro__image.center {
      left: -200%; }
      @media (min-width: 768px) {
        .photos .intro__image.center {
          left: -80%; } }
      @media (min-width: 1024px) {
        .photos .intro__image.center {
          left: -20%; } }
    .photos .intro__image.rightish {
      right: -120%; }
      @media (min-width: 768px) {
        .photos .intro__image.rightish {
          right: -20%; } }
      @media (min-width: 1024px) {
        .photos .intro__image.rightish {
          right: -15%; } }
    .photos .intro__image.rightmost {
      right: 0; }
      @media (min-width: 768px) {
        .photos .intro__image.rightmost {
          right: 0; } }
      @media (min-width: 1024px) {
        .photos .intro__image.rightmost {
          right: 0; } }
  .photos__container--open .intro__image {
    opacity: 0;
    -moz-transform: translate3d(0, 20%, 0);
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  .photos .intro__content {
    position: absolute;
    bottom: 0;
    padding: 1.8em;
    width: 100%;
    font-size: 1.15em; }
  .photos .intro__title {
    margin: 0 0 20px;
    font-weight: 900;
    font-size: 4em;
    font-family: "Playfair Display", Georgia, serif;
    line-height: 1; }
  .photos .intro__subtitle {
    display: flex;
    align-items: center; }
  .photos .intro__description {
    /*margin: 0 auto 0 1em;*/
    margin: 0 54% 0 1em;
    line-height: 1.2; }
  .photos .trigger {
    overflow: hidden;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: none;
    position: absolute;
    bottom: 30px;
    left: 45%; }
    @media (min-width: 1024px) {
      .photos .trigger {
        bottom: 35px;
        right: 110px;
        left: auto; } }
    @media (min-width: 1366px) {
      .photos .trigger {
        bottom: 80px;
        right: 120px;
        left: auto; } }
  .photos .trigger span {
    position: absolute;
    top: 100%; }
  .photos .icon rect, .photos .icon line {
    stroke: #dbdbdb;
    fill: none;
    stroke-width: 2px; }
  .photos .icon {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s; }
  .photos .icon--cross,
  .photos .trigger--active .icon--grid {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1); }
  .photos .trigger--active .icon--cross {
    opacity: 1;
    transform: scale3d(1, 1, 1); }
  .photos .items-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 250px 5px 0; }
  .photos .items-wrap::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a2e39;
    content: '';
    opacity: 1;
    transition: opacity 0.6s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    pointer-events: none; }
  .photos__container--open .items-wrap::after {
    opacity: 0; }
  .photos .item {
    position: relative;
    overflow: hidden;
    height: 22vw;
    flex: 1 0 25%;
    outline: none;
    border: 5px solid #2a2e39;
    border-width: 0 5px 10px;
    background: #2a2e39; }
    .photos .item img {
      width: 100%; }
  .photos .item__image {
    position: absolute;
    top: 71%;
    left: 0;
    min-height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
    transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1); }
  .photos .item:hover .item__image {
    opacity: 1;
    transform: translate3d(0, -50%, 0); }
  .photos .item__title {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 1em;
    color: #dbdbdb;
    font-size: 1.85em;
    font-family: "Playfair Display", Georgia, serif;
    line-height: 1;
    transition: transform 0.3s, opacity 0.3s; }
  .photos .item:hover .item__title {
    opacity: 0;
    transform: translate3d(0, 20px, 0); }
  .photos .bar {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 100px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0; }
    @media (min-width: 1024px) {
      .photos .bar {
        width: 900px; } }
    .photos .bar a {
      text-decoration: underline; }
  .photos .nav__prev {
    left: 0px; }
    .photos .nav__prev span {
      background: #666 url("//d1btkvhnhp6n3k.cloudfront.net/assets/images/photos/prev.png") no-repeat center center; }
  .photos .nav__next {
    right: 0px; }
    .photos .nav__next span {
      background: #666 url("//d1btkvhnhp6n3k.cloudfront.net/assets/images/photos/next.png") no-repeat center center; }
  .photos .nav > a {
    position: absolute;
    top: 0px;
    height: 70px;
    width: 70px;
    outline: none; }
  .photos .nav a span {
    width: 46px;
    height: 46px;
    display: block;
    text-indent: -9000px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    cursor: pointer;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: 17px 25px;
    margin: -23px 0 0 -23px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .photos .nav a div {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .photos .nav a:hover span {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    opacity: 0.6;
    margin: -50px 0 0 -50px;
    background-size: 22px 32px;
    background-color: #a8872d; }
  .photos .nav a:hover div {
    width: 90px;
    height: 90px;
    background-size: 120% 120%;
    margin: -45px 0 0 -45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px; }
  .photos .nav__content {
    position: absolute;
    top: 0px;
    left: 70px;
    right: 70px;
    height: 100%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
    @media (min-width: 768px) {
      .photos .nav__content {
        display: block; } }
    .photos .nav__content div {
      float: left;
      width: 169px; }
      .photos .nav__content div span {
        padding-top: 18px;
        display: block;
        color: #777;
        letter-spacing: 2px; }
    .photos .nav__content-prev {
      margin-left: 20px;
      display: none; }
      @media (min-width: 1024px) {
        .photos .nav__content-prev {
          display: block; } }
    .photos .nav__content-current {
      text-align: center;
      width: 100% !important;
      font-size: 16px; }
      @media (min-width: 1024px) {
        .photos .nav__content-current {
          width: 380px !important; } }
      .photos .nav__content-current span {
        color: #d0ab47 !important; }
      .photos .nav__content-current a {
        color: #aaa; }
    .photos .nav__content-next {
      margin-right: 20px;
      text-align: right;
      display: none; }
      @media (min-width: 1024px) {
        .photos .nav__content-next {
          display: block; } }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.8s;
  animation-name: fade;
  animation-duration: 1.8s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.2; }
  to {
    opacity: 0.8; } }

@keyframes fade {
  from {
    opacity: 0.2; }
  to {
    opacity: 0.8; } }
